/*--remove banner--*/

.hohDownload {
    display: none;
}

.banner {
    background-image: none !important;
    background-color: rgb(36, 37, 56, 0) !important;
    height: auto !important;
}

.banner .shadow {
    background: none !important;
}
