/*============================================
Plano de fundo
==============================================*/

body {
    background: rgb(var(--color-background)) url("https://i.imgur.com/h2G83Bv.jpg") center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}

@media (max-width: 1920px) {
    body {
        background: rgb(var(--color-background)) url("https://i.imgur.com/h2G83Bv.jpg") center/100% fixed !important;
        background-size: auto !important;
    }
}


/*==================================================
Histórico
==================================================*/

.history-day:hover {
    transform: scale(1.2);
}

.history-day[data-v-514856af] {
    border-radius: 20px;
}

.desktop>.content-wrap {
    border-radius: 20px 0px !important;
    box-shadow: var(--nutella-bs);
    transition: all 0.69s ease-in-out;
}


/*==================================================
Mudar o cursor
==================================================*/

* {
    cursor: url(https://i.imgur.com/J1xUINw.png), auto;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: url(https://i.imgur.com/2PboK5s.png), auto;
}

a,
a:link img {
    cursor: url(https://i.imgur.com/2PboK5s.png), auto !important;
}


/*============================================
Espaçamento entre o avatar e o menu superior
==============================================*/

.banner-content {
    transition: 0.3s;
    width: auto !important;
    margin-top: 80px;
}

.site-theme-dark {
    --color-foreground: 16, 24, 35, .90;
}


/*============================================
Cantos arredondados nas atividades
==============================================*/

.wrap,
.reply {
    border-radius: 20px 0px 20px 20px !important;
    overflow: visible !important;
}

.cover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.list-stats {
    border-radius: 20px 0px !important;
}


/*============================================
Cantos arredodndados na bio
==============================================*/

.user .about>div.content-wrap {
    scrollbar-width: thin;
    border-radius: 20px !important;
    transform: scale(1) !important;
    max-height: none !important;
}


/*============================================
Tirar o banner do Perfil
==============================================*/

.banner {
    background-image: none !important;
    background-color: rgb(36, 37, 56, 0) !important;
    height: auto !important;
}

.banner .shadow {
    background: none !important;
}


/*============================================
Nome do perfil colorido
==============================================*/

.banner-content h1.name {
    filter: drop-shadow(0px 0px 6px black);
    background-image: linear-gradient(to left, #fda402, #f6cf41);
    -webkit-background-clip: text;
    color: transparent;
    cursor: none
}


/*============================================
Caixa do perfil e nome centralizado
==============================================*/

.banner-content {
    transition: 0.3s;
    width: 70% !important;
    background-color: rgb(var(--color-foreground));
    padding: 10px;
    border-radius: 20px 20px 0px 0px !important;
    margin: auto;
    flex-direction: row;
    margin-top: 80px;
}


/*============================================
Ajusta a imagem dos favoritos
==============================================*/

.favourite {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 20%;
    position: static;
}


/*============================================
Animação quando o mouse passa
==============================================*/

.favourite:hover {
    transform: scale(1.1) rotate(4deg);
}


/*============================================
Faz com que a imagem se ajuste basicamente 
==============================================*/

.favourites-wrap.anime,
.favourites-wrap.manga,
.favourites-wrap.characters,
.favourites-wrap.staff,
.favourites-wrap.studios {
    overflow: visible;
}


/*============================================
Menu abaixo do avatar e do Nome
==============================================*/

.nav-wrap {
    background: rgb(var(--color-foreground)) !important;
    width: 70% !important;
    margin: 0 auto !important;
    border-radius: 20px 20px 0px 0px !important;
}

.content.container {
    background: rgb(var(--color-foreground)) !important;
    max-width: 70%;
    padding: 30px;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--nutella-bs);
}


/*============================================
Esconder botão de download do banner
==============================================*/

.hohDownload {
    display: none;
}


/*============================================
Avatar perfil
==============================================*/

.avatar {
    border-radius: 100%;
    transition: transform 0.3s;
}

h1.name {
    margin: auto;
    scale: 1.5;
}

.avatar.container {
    background: rgb(var(--color-foreground)) !important;
    max-width: 70%;
    padding: 30px;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--nutella-bs);
}

.avatar:hover {
    transform: translateX(8px);
}


/*============================================
Avatares nas atividades
==============================================*/

a[class="avatar"],
a[class="avatar router-link-exact-active router-link-active"] {
    transition: transform 0.3s !important;
}

a[class="avatar"]:hover,
a[class="avatar router-link-exact-active router-link-active"]:hover {
    transform: scale(1.3) !important;
    transition: transform 0.3s;
}