.stats-wrap .footer{
    height: 35px;
  }

  .milestones .milestone:after{
    padding-top: 0px !important;
  }

  .stats-wrap .footer .milestones{
    height: 25px;
    padding: 5px 0px;
  }