/* favourites */

.user .about .content-wrap {
  max-height: none !important;
  border-radius: 5px;
  overflow: hidden !important;
}

.history-day{
  border-radius: 5px !important;
  transition: scale 0.5s;
}

.history-day:hover{
  scale: 1.3;
}

.desktop:nth-child(3) {
  display: none;
}



.overview .favourites > .favourites-wrap {
  display: grid !important;
  padding: 10px !important;
  grid-gap: 6px !important;
  grid-row-gap: 10px !important;
  grid-template-columns: repeat(auto-fill,85px);
  grid-template-rows: repeat(auto-fill,115px);
  border-radius: 0px 5px 5px 5px;
  background: rgb(var(--color-foreground)) !important;
  width: 470px;
}

.overview .favourites > .favourites-wrap > div, .overview .favourites > .favourites-wrap > a {
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  column-gap: 10px !important;
}

.overview .section-header{
  padding-left: 0px !important;
}

.overview .favourites > .section-header .actions{
  background: rgb(var(--color-foreground));
  position: absolute !important;
}

.overview .favourites > .section-header{
  background: rgb(var(--color-foreground));
  margin: 0px;
  width: 100px;
  border-radius: 5px 5px 0px 0px;
  padding-top: 8px;
  justify-content: center;
}

.overview .desktop:nth-child(1) > .section-header, .overview .desktop:nth-child(2) > .section-header, .overview .desktop:nth-child(3) > .section-header{
  background: rgb(var(--color-foreground));
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 150px;
  border-radius: 5px 5px 0px 0px;
  padding-top: 8px;
}

.overview .desktop:nth-child(1) .content-wrap, .overview .desktop:nth-child(2) .content-wrap, .overview .desktop:nth-child(3) .content-wrap{
  border-radius: 0px 5px 5px 5px;
}

.user .overview {
  grid-template-columns: 470px auto !important;
}