/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
