/* footer */

.wrap .footer{
  display: grid;
  justify-content: center;
  background: linear-gradient(0deg, rgb(var(--color-footer-background)) 0%, rgb(var(--color-footer-background),0) 200%) !important; 
}

.wrap .footer:hover{
    background: linear-gradient(0deg, rgb(var(--color-footer-background)) 0%, rgb(var(--color-footer-background),0) 300%) !important; 
}

.wrap .footer .container .theme-selector{
  display: none;
}
