/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

/* navbar */

.header-wrap {
    width: 100%;
    display: grid;
    justify-content: center;
}

@media (min-width: 1540px) {
    .header-wrap .nav-wrap {
        border-radius: 5px;
        width: 1320px;
        padding-left: 285px;
        padding-right: 285px;
    }
}

@media (min-width: 1040px) and (max-width: 1540px) {
    .header-wrap .nav-wrap {
        border-radius: 5px;
        width: 1040px;
        padding-left: 195px;
        padding-right: 195px;
    }
}


.header-wrap .nav-wrap .link {
    font-size: 0rem;
    transition: all 0.5s cubic-bezier(.39, .58, .57, 1);
}


.header-wrap .nav-wrap .link:hover {
    scale: 1.3;
}

.header-wrap .nav-wrap .link:nth-child(1):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f015";
}

.header-wrap .nav-wrap .link:nth-child(2):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f26c";
}

.header-wrap .nav-wrap .link:nth-child(3):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f02d";
}

.header-wrap .nav-wrap .link:nth-child(4):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f004";
}

.header-wrap .nav-wrap .link:nth-child(5):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f080";
}

.header-wrap .nav-wrap .link:nth-child(6):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f0c0";
}

.header-wrap .nav-wrap .link:nth-child(7):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f15c";
}

.header-wrap .nav-wrap .link:nth-child(8):before {
    font-family: "FontAwesome";
    font-size: 15px;
    content: "\f005";
}

.nav.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-wrap {
    padding: 0 !important;
}

.user-page-unscoped.red .progress .bar {
    background: linear-gradient(270deg, #6f6af615, #6e6af6) !important;
}

.nav > .router-link-active, .header-wrap .nav-wrap .link:hover {
    color: rgb(var(--color-blue)) !important;
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 10px rgb(var(--color-background)), 0 0 20px rgb(var(--color-blue)) !important;
}

/* Username and avatar */

.banner .container {
    justify-content: center;
}

.banner-content {
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.banner-content .name-wrapper h1 {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px rgba(var(--color-blue));
    }
    to {
        text-shadow: 0 0 10px rgba(var(--color-blue));

    }
}