/* stats */

@media (max-width: 1540px){
  .stats-wrap {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    gap: 28px;
  }
}


.list-stats.content-wrap:hover{
  height: 100%;
  max-height: calc(100% + 35px);
}

.list-stats.content-wrap:hover .footer{
opacity: 100%;
}

.list-stats.content-wrap{
height: calc(160.5px - 35px);
transition: all 1s;
margin-bottom: 0px !important;
}

.stats-wrap .footer{
  opacity: 0%;
  transition: all 1s;
  height: 35px;
}

.milestones .milestone:after{
  padding-top: 0px !important;
}

.stats-wrap .footer .milestones{
  height: 25px;
  padding: 5px 0px;
}

.stats-wrap .stat:first-child .value{
  font-size: 5rem;
}

.stats-wrap .stat:first-child .label{
  font-size: 1em;
}

.stats-wrap > .list-stats > .stats-wrap {
  grid-auto-flow: inherit;
  align-items: center;
  row-gap: 1.2rem;
  grid-template-areas: "a b" "a c";
}

.stats-wrap .stat:nth-child(1) {
    grid-area: a;

}

.stats-wrap .stat:nth-child(2) {
  grid-area: b;
}
.stats-wrap .stat:nth-child(3) {
  grid-area: c;
}

.activity-feed-wrap, .activity-feed-wrap + div {
  margin-top: 25px;
}