/*
*   For any questions check out https://github.com/Mentor404/anilist-css/issues
*/

/* Top nav */

.nav.nav-unscoped {
    background: rgb(var(--color-foreground)) !important;
    max-width: 1320px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
}


.logo:hover {
    scale: 1.3;
}


@media (min-width: 1040px) and (max-width: 1540px) {
    .nav.nav-unscoped {
        max-width: 1040px !important;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.quick-search {
    background: rgba(var(--color-background), .6) !important;
    max-width: inherit;
}

.quick-search .result {
    grid-template-columns: 1fr 1fr;
}

.quick-search .view-all {
    background: rgb(var(--color-background), .4);
    transition: all 1s;
}

.quick-search .view-all:hover {
    background: rgb(var(--color-background), .8)
}

.result-col > .title {
    background: rgb(var(--color-foreground));
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px !important;
}

.nav .link:hover {
    color: rgb(var(--color-blue)) !important;
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 20px rgb(var(--color-blue)) !important;
}

.search > svg:hover {
    color: rgb(var(--color-blue));
    filter: drop-shadow(0 0 8px rgb(var(--color-blue)));
}

.primary-link:hover {
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 20px rgb(var(--color-blue)) !important;
}

.primary-link:hover svg {
    filter: drop-shadow(0 0 5px rgb(var(--color-blue)));
}

.secondary-link:hover {
    text-shadow: 0 0 5px rgb(var(--color-blue)), 0 0 20px rgb(var(--color-blue)) !important;
}

.secondary-link:hover svg {
    filter: drop-shadow(0 0 5px rgb(var(--color-blue)));
}